<div class="container">
  <div class="card">
    <div>
      <img style="width:80px; height:80px;" class="card-img-top" src="../../assets/gears.gif" alt="Uh oh">
    </div>
    <h3 class="card-title">Uh oh.</h3>
    <p class="card-text">This page was either moved or does not exist.</p>
  </div>
</div>