<!--The content below is only a placeholder and can be replaced.-->

<div class="base">

    <div>
        <div class="header">
            <div class="title">
                <img class="logo" src="../assets/citilogo.png">
                <h1 class="title-text">{{ title }}</h1>
            </div>
        </div>
        <nav class="nav">
          <a routerLink="/welcome" routerLinkActive="active" class="nav-link">Home</a>
          <a routerLink="/help" routerLinkActive="active" class="nav-link">Details and help</a>
          <a routerLink="/traders" routerLinkActive="active" class="nav-link">Traders</a>
        </nav>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>
</div>