/* No styles at this level */
.header {
    width:100%;
    background-image: linear-gradient(#009DDC, #003B70);
    height:15vh;
    display: block;
    z-index: 1;
}

.title {
    height: 100%;
    display:table;
}

.title-text {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: table-cell;
    vertical-align: middle;
    padding-left: 1vw;
    font-size: 2em;
}

.logo {
    position: relative;
    z-index: 2;
    height: 100%;
    left:85vw;
    vertical-align: middle;
}

.base {
    width: 100%;
    height: 100%;
}

.nav {
    background-color: #e6e6e6;
}

.nav-link {
    color: #D9261C;
}

.nav-link:hover {
    color: rgba(212, 35, 26, 0.616);
}

.active {
    color:black;
}