body {
  margin: 0px;
  padding: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.col-eql-12 {
  width: calc(100% / 12);
}

.col-eql-8 {
  width: calc(100% / 8);
}

.row {
  margin-left: 0px !important;

  margin-right: 0px !important;
}

.badge {
  position: relative;
  display: inline-block;
  width: 80%;
}

.btn-primary:disabled {
  cursor: not-allowed;
}