<div class="col-eql-12">{{ trader["@type"] }}</div>
<div class="col-eql-12"><span class="badge badge-success">{{ trader.stock }}</span></div>
<div class="col-eql-12">{{ trader.size }}</div>
<div class="col-eql-12"><span [hidden]="!trader.lengthShort">{{ minSec(trader.lengthShort) }}</span><span [hidden]="trader.lengthShort" class="badge badge-light">N/A</span></div>
<div class="col-eql-12"><span [hidden]="!trader.lengthLong">{{ minSec(trader.lengthLong) }}</span><span [hidden]="trader.lengthLong" class="badge badge-light">N/A</span></div>
<div class="col-eql-12"><span [hidden]="!trader.periodsPerCycle">{{ trader.periodsPerCycle }}</span><span [hidden]="!trader.windowSize">{{ trader.windowSize }}</span><span [hidden]="trader.windowSize || trader.periodsPerCycle" class="badge badge-light">N/A</span></div>
<div class="col-eql-12"><span [hidden]="!trader.stdevMultiple">{{ trader.stdevMultiple }}</span><span [hidden]="trader.stdevMultiple" class="badge badge-light">N/A</span></div>
<div class="col-eql-12">{{ trader.exitThreshold }}</div>
<div class="col-eql-12">
    <button [disabled]="loading" (click)="onButtonClick($event)" class="btn btn-primary btn-block">
        <p *ngIf="!loading">{{ trader.active ? "Stop" : "Start" }}</p>
        <img class="loading" *ngIf="loading" src="../../../assets/loading.gif" alt="Loading">

    </button>
</div>
<div class="col-eql-12">{{ trader.trades }}</div>
<div class="col-eql-12">{{ trader.profitOrLoss | currency:'USD':'symbol':'1.2-2' }}</div>
<div class="col-eql-12">{{ (trader.ROI === 'NaN' ? 0 : trader.ROI) | percent:'1.2-4' }}</div>
