<div class="createTraderInputContainer">
  <form [formGroup]="createTraderOptions" (ngSubmit)="onSubmit()">

    <label for="">Strategy</label>
    <br>
    <mat-form-field appearance="outline">
      <mat-select formControlName="type" [(ngModel)]="type" required placeholder="Select Strategy">
        <mat-option value="2MA">Two Moving Averages</mat-option>
        <mat-option value="BB">Bollinger Bands</mat-option>
        <mat-option value="PB">Price Breakout</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
  
    <label >Stock</label>
    <br>
    <mat-form-field appearance="outline">
      <input 
        [matAutocomplete]="auto" 
        formControlName="stock" 
        type="text"
        pattern="[a-zA-Z]*" 
        [(ngModel)]="stock" 
        matInput required placeholder="Stock">

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option [value]="stock" *ngFor="let stock of filteredOptions | async; trackBy: trackStock">{{ stock }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
  
    <mat-form-field>
      <input matInput type="number" min=1 step=100 required placeholder="Size" formControlName="size">
    </mat-form-field>
  
    <div class="shortLongContainer" *ngIf="type=='2MA'">
      <mat-form-field>
        <input formControlName="lengthShort" min="1" required step=10 matInput placeholder="Short" type="number">
      </mat-form-field>
  
      <mat-form-field>
        <input formControlName="lengthLong" min="{{ createTraderOptions.get('lengthShort').value }}" required step=10 matInput placeholder="Long" type="number">
      </mat-form-field>
    </div>
    <div class="shortLongContainer" *ngIf="type=='BB'">
      <mat-form-field>
        <input formControlName="numPeriods" required matInput step=10 min=1 placeholder="Number of Periods" type="number">
      </mat-form-field>
  
      <mat-form-field>
        <input formControlName="standardDevMult" required step=0.2 min=0 matInput placeholder="Standard Deviation Multiplier" type="number">
      </mat-form-field>
    </div>
    <div class="shortLongContainer" *ngIf="type=='PB'">
      <mat-form-field>
        <input formControlName="numPeriods" required matInput step=10 min=1 placeholder="Number of Periods" type="number">
      </mat-form-field>
    </div>
  
    <mat-form-field>
      <input formControlName="exitThreshold" required matInput step=1 min=1 placeholder="Exit Threshold" type="number">
    </mat-form-field>

    <br>
  
    <div class="row">
      <div class="col-lg-6">
        <button 
          type="submit"
          [disabled]="!createTraderOptions.valid"
          class="btn btn-primary">
          Create
        </button>
      </div>
      <div class="col-lg-6">
        <button style="float: right;" class="btn btn-danger" [mat-dialog-close]="true">Cancel</button>
      </div>
    </div>
  </form>
</div>