div {
  margin-bottom: 8px;
}
  
span {
  margin-left: 6px;
}


.createTraderInputContainer {
    display: flex;
    flex-direction: column;
}

.shortLongContainer {
    display: flex;
    flex-direction: row;
}

.col-lg-6 {
  padding-left: 0px;
  padding-right: 0px;
}