<div>
  <div class="margin-above">
    <div class="jumbotron">
      <h2 class="display-4">Welcome to the Citi algorithmic trading application!</h2>
      <hr>
      <p>Use this application to manage algorithmic traders by selecting available stocks, investment strategies, and short/long times.</p>
      <a routerLink="/traders" class="btn btn-primary">Start now</a>
    </div>
  </div>
</div>