<div class="margin-above">
  <div class="jumbotron">
    <h2 class="display-4">Information</h2>
    <p>Looking for help? You've come to the right place.</p>
    <hr>
    <p>
      The Citi Algorithmic Trading Application is an online platforms that allows the user to assign an algorithmic trader to one of three
      strategies to trade a given stock on the market. Using the application, users can assign other relevant parameters to the algorithmic
      trader such as its exit threshold and the number of stocks for each transaction.
    </p>
    <p>
      Using the main viewing page, the user can create, start, and stop their algorithmic traders.
      An overview chart is also displayed to compare the efficacy of the most profitable traders. By clicking on a specific trader,
      the user receives an overview of all of that trader's trading history.
    </p>
  </div>
</div>