.header {
  margin-bottom: 1%;
  border: 1.5px solid rgb(228, 228, 228);
  padding: 1%;
  text-align: center;
  font-weight: bold;
}

/* target the .col children of .header. Vertically centers title */
.header .col-eql-12 {
  justify-content: center;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.custom-row {
  width: 100%;
  padding-right: 15px;
}

.body {
  padding: 1%;
  font-size: 1em;
  max-height: 450px;
  overflow-y: scroll;
}

.traderRow {
  padding: 1.5% 0%;
  text-align: center;
}

.traderRow:hover {
  background-color: rgb(26, 155, 241);
  cursor: pointer;
}

.tableContainer {
  box-shadow: -1px 1px 7px 1px black;
  margin: 3% 0%;
}

.createTraderContainer {
  text-align: right;
}

table {
  margin: 0 auto;
  margin-top: 3%;
  width: 100%;
}

.oddWinner {
  background-color: #efe;
}

.evenWinner {
  background-color: #dfd;
}

.oddLoser {
  background-color: #fee;
}

.evenLoser {
  background-color: #ffddddad;
}

.highlight:hover {
  background-color: rgb(146, 163, 236);
  cursor: pointer;
  box-shadow: 2px 0px 2px 0px black;
}

button:hover {
  background-color: #D9261C;
}


.alert-info {
  position: relative;
  margin-top: 3%;
  text-align: center;

}