<div style="margin: 3% 0%;">

  <div style="margin-bottom: 3%;">
    <mat-accordion>
      <mat-expansion-panel [disabled]="!hasProfitableTrader()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Summary of profits
          </mat-panel-title>
          <mat-panel-description>
            Click to see summary of traders
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-summary-chart *ngIf="dataSource.length > 0" [traders]="dataSource"></app-summary-chart>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


  <div class="createTraderContainer">
    <div class="row">
      <span class="col-lg-3 badge badge-secondary">
        <div>
          <h5>Total Trades: {{ dataSource.length == 0 ? 0 : getTotalTrades() }}</h5>
        </div>
      </span>

      <span class="col-lg-1"></span>

      <span class="col-lg-5 badge badge-secondary">
        <div style="text-align: center;">
          <h5>Total Profit: {{ (dataSource.length == 0 ? 0 : getTotalProfit()) | currency:'USD':'symbol':'1.2-2' }}</h5>
        </div>
      </span>

      <div class="col-lg-3">
        <button type="button" (click)="openDialog()" class="btn btn-primary" data-toggle="modal" data-target="#createTraderForm">Create Trader</button>
      </div>
    </div>
  </div>
  <div class="tableContainer">
    <div class="header row">
      <div class="col-eql-12">Strategy</div>
      <div class="col-eql-12">Stock</div>
      <div class="col-eql-12">Size</div>
      <div class="col-eql-12">Short</div>
      <div class="col-eql-12">Long</div>
      <div class="col-eql-12">Number Of Periods</div>
      <div class="col-eql-12">Standard Deviation Multiple</div>
      <div class="col-eql-12">Exit</div>
      <div class="col-eql-12">State</div>
      <div class="col-eql-12">Trades</div>
      <div class="col-eql-12">Profit</div>
      <div class="col-eql-12">ROI</div>
    </div>
    <div class="body">
      <div 
        class="row traderRow" 
        *ngFor="let trader of dataSource; let i = index"
        app-trader-row
        [trader]="trader"
        [routerLink]="[trader.ID]"
        [ngClass]="{
          'evenWinner': trader.profitOrLoss > 0 && i % 2 == 0,
          'oddWinner': trader.profitOrLoss > 0 && i % 2 == 1,
          'evenLoser': trader.profitOrLoss < 0 && i % 2 == 0,
          'oddLoser': trader.profitOrLoss < 0 && i % 2 == 1
        }">
      </div>
    </div>
  </div>

  <div class="noTradersAlert alert alert-info" *ngIf="dataSource.length == 0">
      No traders created yet!
  </div>


</div>


