.col-sm-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.custom-row {
    width: 100%;
    text-align: right;
    margin: 3% 0%;
}

hr {
    margin: 1% 0%;
}

.title {
    background-color: rgba(44, 179, 243, 0.23);
    padding: 1.5%;
}

.evenLoser {
    color: rgb(212, 114, 114);
}

.evenWinner {
    color: rgb(87, 172, 87);
}

.profit {
    border-radius: 20px !important;
    padding: 1%;
}

.expandBody {
    margin-top: 2%;
}

.body {
    max-height: 450px;
    border-radius: 15px;
    overflow: auto;
    overflow-y: scroll;
    overflow-x:hidden;
}