
<div class="holder">

  <div class="custom-row">
    <button routerLink="/traders" style="width: 7vw;" class="btn btn-primary">Back</button>
  </div>

  <div class="title" *ngIf="trader">
    <div class="row">
      <div class="col-sm-3 profit">
        <h6 [ngClass]="{'evenWinner' : trader.profitOrLoss > 0, 'evenLoser' : trader.profitOrLoss < 0}">
          Profit: {{ trader.profitOrLoss | currency:'USD':'symbol':'1.2-2' }}
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h6>Trades: {{ trader.trades }}</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-eql-8">
        Strategy: {{ trader["@type"] }}
      </div>
      <div class="col-eql-8">
        Stock: {{ trader.stock }}
      </div>
      <div class="col-eql-8">
        Size: {{ trader.size }}
      </div>

      <div class="col-eql-8" *ngIf="trader['@type'] === 'BB';">
          Number of Periods: {{ trader.windowSize }}
        </div>
      <div class="col-eql-8" *ngIf="trader['@type'] === 'BB';">
        Standard Deviation Multiple: {{ trader.stdevMultiple }}
      </div>

      <div class="col-eql-8" *ngIf="trader['@type'] === '2MA';">
        Short: {{ trader.lengthShort }}
      </div>
      <div class="col-eql-8" *ngIf="trader['@type'] === '2MA';">
        Long: {{ trader.lengthLong }}
      </div>

      <div class="col-eql-8">
        ROI: {{ trader.ROI | percent:"1.4-4" }}
      </div>
      <div class="col-eql-8">
        Status: {{ !trader.active && !trader.stoppedTrading ? "stopping" : "Active" }}
      </div>

      <div class="col-eql-10">
        Exit: {{ trader.exitThreshold }}
      </div>
    </div>
  </div>
  <hr>
  <div class="body">

    <mat-accordion *ngFor="let pos of positions">
      <mat-expansion-panel style="margin-bottom: 0.5%;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span  [ngClass]="{'evenWinner' : pos.profitOrLoss > 0, 'evenLoser' : pos.profitOrLoss < 0}">{{ pos.profitOrLoss  | currency:"USD":"symbol":"1.2-2" }}</span>
          </mat-panel-title>
          <mat-panel-description>
            Opening Trade: {{ pos.openingTrade.price | currency:"USD":"symbol":"1.2-2" }} <span style="font-weight: bolder">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            Closing Trade: &nbsp;<span *ngIf="pos.closingTrade">{{ pos.closingTrade.price | currency:"USD":"symbol":"1.2-2" }}</span><span *ngIf="!pos.closingTrade" style="color: red;">Still closing Trade!</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expandBody">
          <div class="opening">
            <div class="row">
              <h6>Opening Trade</h6>
            </div>
            <div class="row">
              {{ pos.openingTrade.when | date: "dd/MM/yyyy" }} bought at {{ pos.openingTrade.when | date:"HH:mm:ss" }}
            </div>
          </div>
          <div class="closing">
            <div class="row">
              <h6>Closing Trade</h6>
            </div>
            <div class="row">
              <div class="row" *ngIf="pos.closingTrade">
                {{ pos.closingTrade.when | date: "dd/MM/yyyy" }} sold at {{ pos.closingTrade.when | date:"HH:mm:ss" }}
              </div>
              <div *ngIf="!pos.closingTrade">
                  <span style="color: red;">Still Closing Trade!</span>
                </div>
            </div>
          </div>

          <div style="padding: 1% 0%;" *ngIf="pos.closingTrade">
            <h5>ROI: {{ pos.roi | percent:"1.4-4" }}</h5>
          </div>

        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>